# Philips Supplier Sustainability Analytics - Starter Notebook

This notebook provides a minimal starting point for the assignment.

## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Load Data

In [6]:
# Load the data
df = pd.read_excel('data/SSP_Data.xlsx')

# Display basic information
print(f"Dataset shape: {df.shape}")
print(f"Number of unique suppliers: {df['ID'].nunique()}")
df.head()

Dataset shape: (1262, 495)
Number of unique suppliers: 463

,Index,ID,Sequence,Assessment Year,Assessment type,Country,Val_Score,Val_Environment,Val_Health and Safety,Val_Business Ethics,...,Q953_3,Q953_4,Q953_5,Q1443,Q1446,Q1449,Q1450,Q954,Q956,Q1452
0,256-1,256,1,2017,DV - Desktop Validation,China,0.67175,0.7110,0.7614,0.694,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,256-2,256,2,2018,SA - Site Assessment,China,0.73240,0.8800,0.7210,0.721,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,256-3,256,3,2019,SA - Site Assessment,China,0.71215,0.8250,0.6536,0.721,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,256-4,256,4,2020,DV - Desktop Validation,China,0.76200,0.8550,0.7140,0.800,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,745-1,745,1,2019,SA - Site Assessment,Indonesia,0.56180,0.8336,0.4546,0.355,...,1.0,0.0,0.0,0.0,NaN,NaN,0.0,1.0,1.0,1.0

## 3. Your Analysis Here

**Reminder:** Split by supplier ID, not randomly, to avoid data leakage.